#advantages {
  text-align: center;
  padding-block: 2rem;
  .container {
    padding-block: 2rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 60rem) {
      grid-template-columns: repeat(4, 1fr);
    }
    .card {
      img {
        height: 5rem;
      }
      transition: all ease-in-out 0.3s;
      &:hover {
        box-shadow: 0px 0px 3px #434343;
      }
      box-shadow: 5px 5px 3px #434343;
      border-radius: 0.2rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: white;
      background: var(--primary);
      gap: 1rem;
      text-transform: uppercase;
      .number {
        font-size: 3.5rem;
        font-weight: 900;
      }
      .card-text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      p {
        font-size: 1rem;
      }
      .icon {
        align-self: center;
      }
      svg {
        path {
          stroke: white;
        }
        width: 4rem;
      }
    }
  }
}
