#contact {
  .content {
    display: grid;
    @media (min-width: 60rem) {
      gap: 2rem;
      grid-template-columns: auto 2fr;
    }
  }
}
.contact-row {
  color: white;
  background: var(--primary);
  text-align: left !important;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  padding-block: 0.2rem;
  padding: 1rem;
  align-items: center;
  font-size: 1.5rem;
  transition: box-shadow ease-in-out 0.3s;
  box-shadow: 5px 5px 3px var(--dark);
  &:hover,
  &:focus {
    box-shadow: 0px 0px 3px var(--dark);
  }
  svg {
    width: 2rem;
  }
}
#map {
  box-shadow: 0px 0px 3px var(--dark);
  border-radius: 0.5rem;
  overflow: hidden;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.pigeon-attribution {
  display: none;
}
