footer {
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-image: url("/section/footer-bg.svg");
  color: white;
  padding-block: 5rem;
}
footer :is(.footer-grid) {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 60rem) {
    grid-template-columns: repeat(3, 1fr);
  }
}

footer :is(form) {
  display: grid;
  gap: 1.5rem;
  padding-block: 1rem;
}
footer :is(input[type="text"]) {
  background: white;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: inherit;
  outline: inherit;
  color: var(--contrast);
  border-radius: 0.2rem;
}
form:is(input[type="text"]):focus {
}
footer :is(input)::placeholder {
  color: grey;
  font-weight: 700;
}
footer :is(input[type="submit"]) {
  width: max-content;
}
footer :is(input[type="submit"]) {
  width: max-content;
}
