@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
:root {
  /*----------  media queries  ----------*/
  --xs: 20rem;
  --sm: 30rem;
  --md: 48rem;
  --lg: 62rem;
  --md: 75rem;
  --lg: 90rem;

  --base: #fff;
  --contrast: #23155b;
  --bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(249%2c 249%2c 249%2c 1)'%3e%3c/rect%3e%3cpath d='M-53.49 -21.17 a32.32 32.32 0 1 0 64.64 0 a32.32 32.32 0 1 0 -64.64 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-63.62652465041386 0.2172354370442804L-6.1671405717015375 158.08559572907689 151.70121972033107 100.62621165036455 94.24183564161874-57.242148641668045z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-49.21 -25.46 a23.75 23.75 0 1 0 47.5 0 a23.75 23.75 0 1 0 -47.5 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1265.88 -12.55 a49.57 49.57 0 1 0 99.14 0 a49.57 49.57 0 1 0 -99.14 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1490.7847951926342 133.58369505179127L1464.5038050658754-32.34794616819187 1298.5721638458922-6.066956041433059 1324.853153972651 159.86468517855008z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1252.0871409097108 60.606498545289476L1374.9545627817315 175.18222303578915 1489.5302872722311 52.314801163768415 1366.6628654002104-62.26092332673125z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-75.81237363805022 510.90799378439675L49.03595704215206 623.3219356526848 161.44989891044017 498.4736049724826 36.60156823023789 386.05966310419444z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-69.89 443.23 a65.12 65.12 0 1 0 130.24 0 a65.12 65.12 0 1 0 -130.24 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M-30.5953738081319 404.3834177596314L-42.31446139714495 571.9741782032819 125.27629904650551 583.6932657922949 136.99538663551854 416.10250534864446z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1259.966902114114 549.1443556942887L1412.226610336271 620.1442236667262 1483.2264783087087 467.8845154445691 1330.9667700865516 396.8846474721315z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1236.55 464.78 a108.23 108.23 0 1 0 216.46 0 a108.23 108.23 0 1 0 -216.46 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1284.44 416.89 a12.45 12.45 0 1 0 24.9 0 a12.45 12.45 0 1 0 -24.9 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  --main-bg-color: #fff;
  --bg-color: #fff;
  --container-wide-width: 90rem;
  --container-width: 75rem;
  --shadow: 0px 0px 3px #434343;
  --gap: 1rem;
  --test-size: 1000px;
  --grey: #d4cdef;
  // --primary: rgb(255, 81, 0);
  // --primary: #952352;

  --secondary: #155831;
  // --primary--1: hsl(335, 62%, 26%);
  --primary: #8053ff;
  --primary--1: orange;
  --primary--2: hsl(335, 62%, 16%);

  --primary-1: hsl(335, 62%, 46%);
  --primary-2: hsl(335, 62%, 56%);

  --light: hsl(221, 100%, 96%);
  --dark: #141b2d;
  // --hero-img: url("https://images.pexels.com/photos/15663490/pexels-photo-15663490.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  --green: hsl(138, 28%, 42%);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.primary {
  color: var(--primary);
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg,
picture,
video {
  display: block;
  max-width: 100%;
}
input,
textarea,
button,
select {
  font: inherit;
}
button {
  outline: none;
  border: inherit;
}
html {
  color-scheme: dark light;
}
html,
body {
  min-height: 100%;
  height: auto;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
  background: var(--grey);
  color: var(--contrast);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
em {
  font-style: italic !important;
  font-weight: 900;
}
main {
  min-height: 100svh;
  min-height: 100vh;
  a {
    text-decoration: underline;
    color: var(--primary);
  }
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none !important;
}
.full-height {
  min-height: 100vh;
}
.container {
  width: min(var(--container-width), 95vw);
  margin-left: auto;
  margin-right: auto;
}
.container-wide {
  width: min(var(--container-wide-width), 95vw);
  margin-left: auto;
  margin-right: auto;
}

.pb-1 {
  padding-bottom: 1rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.content {
  p {
    font-size: 1.2rem;
    max-width: 60ch;
  }
  ul {
    max-width: 60ch;

    font-size: 1.2rem;
  }
}
body {
  background: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.no-wrap {
  white-space: nowrap;
}
.grey {
  color: var(--grey);
}
