.hero {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.hero :is(.container) {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero :is(.hero-content) {
  padding: 3rem;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 1.4rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero :is(.hero-content h1) {
  color: var(--secondary);
}
.hero :is(.hero-content p) {
  font-size: 1.2rem;
}
.hero :is(.hero-content .logo) {
  width: 115rem !important;
  height: 10rem;
}
.hero :is(.subtitle) {
  color: var(--secondary);
}
