.overlay {
  z-index: 1001;
  position: fixed;
  transform: translateX(0%);
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Set a semi-transparent background color */
  backdrop-filter: blur(
    5px
  ); /* Apply a 5px blur effect to the area behind the element */
  padding: 20px;
}
.hide-overlay {
  transform: translateX(100%);
}
