.stack {
  p {
    font-size: 1.3rem !important;
    color: black;
  }
  padding-top: 10rem;
  position: relative;
  // min-height: 100vh;
  display: grid;
  @media (max-width: 59rem) {
    min-height: 100vh;
    min-height: 100dvh;
  }
  gap: 1rem;
  & > * {
    grid-row: 1/-1;
    grid-column: 1/-1;
  }
  .stack__img {
    position: relative;
    display: grid;
    @media (max-width: 60rem) {
      min-height: auto;

      &::after {
        position: absolute;
        inset: 0;
        content: "";
        background: linear-gradient(to bottom, rgba(#171717, 0.2), rgba(#0e0e0e, 0.9));
      }
    }
    figure {
      box-shadow: 0px 0px 1px var(--dark);
      background: white;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
      }
      figcaption {
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        filter: drop-shadow(0px 0px 1px var(--dark));
        box-shadow: 0px 0px 1px var(--dark);
        display: flex;
        gap: 0.5rem;
        width: fit-content;
        background: white;
        border-radius: 0.2rem;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        padding-top: 5rem;
        padding-left: 5rem;
        .hero-social {
          cursor: pointer;
          &:hover {
            svg {
              rotate: 15deg;
            }
          }
          svg {
            transition: rotate ease-in-out 0.3s;
            height: 1.6rem;
          }
          path {
            stroke: var(--primary);
          }
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3rem;
          height: 3rem;
        }
      }
    }
    & > * {
      grid-row: 1/-1;
      grid-column: 1/-1;
    }
  }
  .stack__text {
    @media (max-width: 59.99rem) {
      background: rgba(56, 49, 49, 0);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(4.5px);
      -webkit-backdrop-filter: blur(4.5px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
    @media (max-width: 60rem) {
      text-align: center;
      color: white;
    }
    display: grid;
    place-content: center;
    transition: all ease-in-out 0.3s;
    padding: 20px;
    z-index: 1;

    h1 {
      color: var(--primary-1);
      position: relative;
      overflow: hidden;

      color: var(--primary);
    }
    p {
      max-width: 60ch;
      letter-spacing: 0.1rem;
    }
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    z-index: 1;
  }
}
@media screen and (min-width: 60em) and (orientation: landscape) {
  .stack {
    color: var(--dark);
    grid-template-columns: 1fr 1fr;
  }
  .stack__text {
    align-items: start !important;
    grid-column: 1;
  }
  .stack__img {
    grid-column: 2;
    display: grid;
    place-content: center;
    img {
      width: 100%;
      height: 500px;
    }
  }
}
.blur {
  background: rgba(#ccc, 0.5);
  filter: blur(0.3rem);
}
.scroll-down-icon {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;
}
