.btns-group {
  display: grid;
  gap: var(--gap);
  margin-top: 2rem;
  place-items: center;
  @media (min-width: 75rem) {
    place-items: unset;
    grid-template-columns: repeat(2, 1fr);
  }
}
.btn-white {
  background: white;
  --color: var(--primary) !important;
  --bg-color: white !important;
}
.btn {
  --bg-color: var(--primary);
  --color: white;
  --shadow-color: var(--contrast);
  color: var(--color);
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 3ch;
  height: 3.5rem;
  @media (max-width: 60rem) {
    width: min(25ch, 100vw);
  }
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  align-items: center;
  background: var(--bg-color);
  gap: 1.5rem;
  border-radius: 0.2rem 1rem 0.2rem 1rem;

  box-shadow: 5px 5px 3px var(--shadow-color);

  cursor: pointer;
  transition: all ease-in-out 0.3s;
  // border-radius: 0.2rem;
  position: relative;
  &:hover,
  &:focus {
    box-shadow: 0px 0px 3px #434343;
  }
  svg,
  img {
    transition: rotate ease-in-out 0.3s;
  }

  span {
    overflow: unset;
  }

  svg,
  img {
    margin-left: calc(var(--gap) / 2);
    height: 2rem;
    width: 2rem;
  }
}
.btn-secondary {
  background: white;
  color: var(--primary);
  border: var(--primary) 0.2rem solid;
}
.btns {
  display: flex;
  justify-content: center;
  @media (max-width: 60rem) {
    .btn {
      margin-inline: auto;
    }
  }
  @media (min-width: 60rem) {
    justify-content: flex-start;
  }
}

a {
  text-decoration: none;
}
dialog {
  display: none;
}

.no-wrap {
  word-wrap: nowrap;
}
