#up {
  box-shadow: 0px 0px 3px var(--primary);
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  width: 4rem;
  height: 4rem;
  perspective: 1000px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: transform ease-in-out 0.3s;
  filter: drop-shadow(10px 10px 30px var(--primary));
  border-radius: 0.3rem;
  background: white;
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateX(calc(-2rem - 100%));
  transform-origin: right;
  transition: all ease-in-out 0.7s;
  cursor: pointer;
  opacity: 0.6;
  &:hover {
    opacity: 1;
    filter: drop-shadow(10px 10px 30px var(--primary));
  }

  svg {
    width: 2rem;
    path {
      color: var(--primary);
    }
  }
}

.show {
  transform: rotateY(0deg) translateX(0vw) !important;
}
