@use "./styles/global";
@use "./styles/preloader";
@use "./styles/header";
@use "./styles/progress";
@use "./styles/typography";
@use "./styles/cells";
// @use "./styles/hero";
@use "./styles/ui";
@use "./styles/footer";
// @use "./styles/documents";
// @use "./styles/goelement";
// @use "./styles/howto";
// @use "./styles/requirements";
// @use "./styles/grids";
@use "./styles/up";
@use "./styles/layout";
@use "./styles/section";
// @use "./styles/mainh";
@use "./styles/img-grid";
@use "./styles/overlay";
@use "./styles/lang";
// @use "./styles/grid";
@use "./styles/stack";
@use "./styles/socials";
@use "./styles/contact";
@use "./styles/aside";
@use "./styles/accordion";
body {
  line-height: 1.5;
}
.swiper {
  width: 100%;
  height: 300px;
}
.swiper-pagination-bullet {
  opacity: 0;
  display: none !important;
  path {
    fill: var(--primary-1);
  }
}
a {
  text-decoration: inherit !important;
}
ul {
  list-style-position: outside;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
section {
  p {
    max-width: 60ch;
  }
}
.frame {
  box-shadow: 0 px 0 px 3px var(--dark) !important;
  transition: all ease-in-out 0.3s;
  &:hover {
    box-shadow: 0px 0px 3px var(--dark) !important;
  }
}
.sticky {
  position: sticky !important;
  top: 6.5rem;
}
